<img class="pcImg" src="assets/weblanding.jpg"/>
<div class="container">

  <!--<canvas id="canv" #myCanvas>-->
    <!--죄송합니다. 지원하지 않는 브라우저입니다. :(-->
  <!--</canvas>-->

  <img id="bg" [src]="bgImg" >

  <!--*ngIf="theme==1"-->
  <div class="obj-container" >
    <img *ngIf="!isPlaying" class="character" (click)="onClick_PlaySound()" [src]="characterImg_Inactive">
    <img *ngIf="isPlaying" class="character" [src]="characterImg_Active">
  </div>





  <!--하트-->
  <img *ngIf="userData.life>0" class="heart" src="assets/heart_filled.png"/>
  <img *ngIf="userData?.life>1" class="heart2" src="assets/heart_filled.png"/>
  <img *ngIf="userData?.life>2" class="heart3" src="assets/heart_filled.png"/>

  <img *ngIf="userData.life<1" class="heart" src="assets/heart_blank.png"/>
  <img *ngIf="userData?.life<2" class="heart2" src="assets/heart_blank.png"/>
  <img *ngIf="userData?.life<3" class="heart3" src="assets/heart_blank.png"/>

  <!--스테이지-->
  <div class="stage" *ngIf="theme==1 || theme==3 || theme==5" (click)="onClick_Test()">Stage #{{userData?.stage}}</div>

  <div class="stage" *ngIf="theme==2 || theme==4" id="stage-white" (click)="onClick_Test()">Stage #{{userData?.stage}}</div>


  <!--포인트-->
  <div class="point" *ngIf="theme==1 || theme==3 || theme==5">Point <span class="point-number">{{userData?.score_stage}}</span></div>

  <div class="point" *ngIf="theme==2 || theme==4" id="point-white">Point <span class="point-number">{{userData?.score_stage}}</span></div>



  <!--말풍선-->
  <img *ngIf="!isPlaying" id="bubble-img"[src]="bubbleImg"  (click)="onClick_Bubble()"/>
  <div *ngIf="!isPlaying" (click)="onClick_Bubble()" id="bubble-text">{{bubbleTalking}}</div>

  <!--숫자-->
  <img class="number" [src]="numberImg"/>

  <!--아이템-->
  <img class="item" (click)="onClick_Item(0)"id="item1"  [src]="itemImg[0]"/>
  <img class="item" (click)="onClick_Item(1)"id="item2" [src]="itemImg[1]"/>
  <img class="item" (click)="onClick_Item(2)"id="item3" [src]="itemImg[2]"/>


  <!--<button class="testbtn" (click)="onClick_Test()">테스트용{{userData.life}}</button>-->

  <div class="white-bg"></div>

  <div class="answer-container">
    <form>
      <div class="group">
        <input class="" autocomplete="off" type="text" name="answerInput" [(ngModel)]="answerText"  (keydown)="onChange_Answer()" required="required"/><span class="highlight"></span><span class="bar"></span>
        <label>{{labelText}}</label>
      </div>
    </form>
  </div>

  <div ></div>
  <img class="mola-btn" (click)="onClick_Pass()" src="assets/skip.png"/>
  <img class="submit-btn" (click)="onClick_Submit()" src="assets/submit.png"/>

</div>




<modal id="stage-modal">
  <div class="modal">
    <div class="modal-title">
      <img class="modal-faceImg" [src]="modalFaceImg"/>
      <!--<img class="modal-icon" [src]="modalTextImg"/>-->
    </div>

    <div class="modal-body">
      <div class="modal-songtitle">{{modalText}}</div>
      <img class="modal-textImg" [src]="modalTextImg"/>
      <br>
      <div class="modal-score">{{modalScore}}</div>

      <img class="modal-btn" (click)="closeModal('stage-modal');" [src]="modalBtnImg"/>
    </div>
      <img class="modal-item" [src]="modalItemImg"/>

  </div>
  <div class="modal-background"></div>
</modal>



<modal id="gameover-modal">
  <div class="modal">


    <div class="modal-myrank">
      <img class="modal-gameoverImg" src="assets/gameover.png"/>
      <div id="rank-text">{{userData.nickname}}님의 순위</div>
      <div id="rank">{{rank}}위</div>

      <div class="line"></div>
        <table class="tg">
          <tr>
            <th class="tg-cpu1">
              <img class="resultImg" src="assets/result_perfect.png"/>
            </th>
            <th class="tg-cpu2">{{perfectCount}}</th>
          </tr>
        </table>

      <div class="line"></div>
        <table class="tg">
          <tr>
            <th class="tg-cpu1">
              <img class="resultImg" src="assets/result_great.png"/>
            </th>
            <th class="tg-cpu2">{{greatCount}}</th>
          </tr>
        </table>

      <div class="line"></div>
        <table class="tg">
          <tr>
            <th class="tg-cpu1">
              <img class="resultImg" src="assets/result_bad.png"/>
            </th>
            <th class="tg-cpu2">{{badCount}}</th>
          </tr>
        </table>
      <div class="line"></div>
        <table class="score-table">
          <tr>
            <th class="tg-cpu1">
            </th>
            <th class="tg-cpu2" id="score" >{{finalScore}}</th>
          </tr>
        </table>
    </div>

  </div>

  <div (click)="onClick_GameOver()" class="modal-background"></div>

  <img (click)="onClick_GameOver()"  class="modal-reply" src="assets/replay.png"/>
</modal>




