.answer-container{
  background: #11162F ;
  width: 100vw;
  height: 100vh;
}

.youtube{
  background: #909090;
}

.count{
  color: #ffffff;
}

.album-container{
  margin-top: 30px;
  margin-left: 20px;
}

.singer{
  font-size: 13px;
}

.album-img{
  float: left;
  width: 100px;
  height: auto;
}

.album-info{
  float: left;
  margin-left: 10px;
  color: #ffffff;
}

.title{
  font-size: 20px;
  color: #ffffff;
}

.album-name{
  margin-top: 20px;
  font-size: 8pt;
  color: #909090;
}

.album-date{
  font-size: 8pt;
  color: #909090;
}




.btn{
  position: fixed;
  display: inline-block;
  bottom: 0;
  width: 80%;
  left:50%;
  margin-left: -40%;
  margin-bottom: 40px;
}
