.container{
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: #11162F;
}

.backgroud-img{
  width: 100vw;
  height: 100vh;
}

.testver{
  display: inline-block;
  position: fixed;
  width: 20%;
  top:0;
  right: 0;
}

.title{
  display: inline-block;
  position: fixed;
  top:0;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  margin-top: 36%;
}

.menu-container{
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  margin-bottom: 20%;
}

.btn{
  display: inline-block;
  width: 80%;
  margin-bottom: 4px;
}


.subtitle{
  display: inline-block;
  position: fixed;
  width: 40%;
  bottom: 0px;
  left: 50%;
  margin-left: -20%;
  margin-bottom: 20px;
}
