<div class="container">

<img class="backgroud-img" src="/assets/bgimg.png">
<img class="testver" src="/assets/testver.png">
<img class="title" src="assets/musicquiztitle.png"/>

<div class="menu-container">
  <img (click)="onClick_start()" class="btn" src="assets/gamestart.png"/>
  <img (click)="onClick_ranking()" class="btn" src="assets/totalranking.png"/>
  <img (click)="onClick_information()" class="btn" src="assets/testinfo_btn.png"/>
</div>

  <img class="subtitle" src="assets/subtitle.png"/>
</div>
