<div class="ranking-background">
<div class="ranking-container">

    <div class="title">RANKING</div>

    <div class="myrank">나의순위</div>

  <div class="rankBox">

      <table  class="tg">
        <tr>
          <th class="tg-cpu1">{{rank}}위</th>
          <th class="tg-cpu2">{{userData.nickname}}</th>
          <td class="tg-cpu3">{{userData.score_best}}점</td>
        </tr>
      </table>
   </div>






  <!--리스트-->
    <div *ngFor="let user of userList; let idx=index">

    <!-- 선 -->
    <div class="line"></div>

    <div class="content-text">

      <table class="ranking-table">
        <tr>

          <!-- 순위 -->
          <td *ngIf="idx<3" class="ranking-td1">
            <img *ngIf="idx==0" class="crown" src="assets/ranking_1st.png"/>
            <img *ngIf="idx==1" class="crown" src="assets/ranking_2nd.png"/>
            <img *ngIf="idx==2" class="crown" src="assets/ranking_3rd.png"/>

            {{idx+1}} 위
          </td>
          <td *ngIf="3<=idx" class="ranking-td1">{{idx+1}} 위 </td>

          <!-- 이름 -->
          <td class="ranking-td2">{{user.nickname}}</td>

          <!-- 점수 -->
          <td class="ranking-td3" >{{user.score}}</td>


        </tr>
      </table>
    </div>







</div>
</div>
  <img class="back-btn" (click)="onClick_back()" src="assets/back.png"/>
