<div class="container">

  <img id="bg" src="assets/main_bg.png" />
  <img id="logo" src="assets/logo.png"/>
  <img id="info" src="assets/info.png"/>

  <div id="kakao-login" (click)="onClick_kakao()"></div>

</div>







<!--<img class="testver" src="/assets/testver.png" (click)="onClick_deleteCash()">-->
<!--<img class="backgroud-img" src="/assets/bgimg.png">-->
<!--<img class="title" src="assets/musicquiztitle.png"/>-->
<!--<img class="naver-login" (click)="onClick_naverLogin()" src="assets/naverlogin.png"/>-->
<!--<img class="subtitle" src="assets/subtitle.png"/>-->


<!--<canvas #myCanvas>-->
<!--죄송합니다. 지원하지 않는 브라우저입니다. :(-->
<!--</canvas>-->
