.container{
  text-align: center;
  height: 100vh;
  width: 100vw;
}


#myCanvas{
  width: 300px;
  height: 300px;
  background: #909090;
}

#login{
  position: absolute;
  z-index: 10;
  width: 300px;
  bottom: 40px;
  left: 50%;
  transform:translateX(-50%);
}

.scoreBox{
  position: absolute;
  z-index: 10;
  width: 300px;
  bottom: 110px;
  left: 50%;
  transform:translateX(-50%);
}

.tg{
  position: absolute;
  z-index: 10;
  width: 80%;
  bottom: 110px;
  left: 50%;
  transform:translateX(-50%);
}

.tg-cpu1{
  width: 120px;
  color: #ffffff;
  font-weight: 200;
}

.tg-cpu2{
  weight: 40px;
  font-size: 18px;
  height: 30px;
  color: #ffffff;
  font-weight: 600;
  text-align: right;
}

.tg-cpu3{
  width: 25px;
  color: #ffffff;
  font-weight: 200;
}


.bullet{
  width: 8px;
  margin-right: 10px;
}

#bg{
  width: 100%;
  height: 100%;
}

#logo{
  position: absolute;
  display: inline-block;
  z-index: 10;
  width: 40%;
  top: 10%;
  left: 50%;
  transform:translateX(-50%);
}

#info{
  position: absolute;
  display: inline-block;
  z-index: 10;
  width: 50px;
  left: 20px;
  top: 20px;
}

.rankBox{

}













form {
  margin-top: 20px;
  position: absolute;
  left: -15%;
  width: 200px;
}

.group {
  z-index: 11;
  position: fixed;
  display: inline-block;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #000000;
  font-size: 30px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 140px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}


input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  font-size: 15px;
  color: #000000;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 100%;
}

label {
  color: #5c5c5c;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 30px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #000000;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}
