<div class="container">

  <!-- 음악재생부분 -->
  <div class="menu-container">
    <img class="count-img" [src]="countImgPath"/>
    <img class="guide" src="assets/guide.png"/>

    <img *ngIf="isPlaying==0" (click)="onClick_play()" class="play" src="assets/unactiveturntable.png"/>
    <img *ngIf="isPlaying==1" class="playing" src="assets/activeturntable.gif"/>
  </div>

  <br>

  <div class="answer-container">
    <form>
      <div class="group">
        <input class="" autocomplete="off" type="text" name="answerInput" [(ngModel)]="answerStr"  required="required"/><span class="highlight"></span><span class="bar"></span>
        <label>이 노래의 이름은?</label>
      </div>
    </form>
  </div>

  <div ></div>
  <img class="mola-btn" (click)="onClick_pass()" src="assets/mola.png"/>
  <img class="submit-btn" (click)="onClick_submit()" src="assets/submit.png"/>

<img *ngIf="isWrong" class="wrong" src="assets/wronganswer.png" (click)="onClick_cancel()">

</div>
