<div class="infomation-backgroud">
  <div class="information-container">

  <div class="title">테스트정보</div>
  <div class="white-line"></div>
  <div class="white-text">본 유저테스트는 고려대학교 디자인조형학부의 <제품시스템디자인> 졸업 프로젝트를 위해 설계되었습니다.</div>

  <div class="blue-line"></div>
  <div class="content-text">
    <div class="blue-text-l">버전</div>
    <div class="white-text-r">v1.0.7</div>
  </div>

  <div class="blue-line"></div>
  <div class="content-text">
    <div class="blue-text-l">기간</div>
    <div class="white-text-r">2018.06.01 ~ 06.18</div>
  </div>

  <div class="blue-line"></div>
  <div class="content-text" id="big-div">
    <div class="blue-text-l">목적</div>
    <div class="white-text-r" id="perpose">
      서비스 선호도 조사<br>
      레벨 디자인 데이터 확보<br>
      플레이 소요시간 측정
    </div>
  </div>

  <div class="blue-line"></div>
  <div class="content-text">
    <div class="blue-text-l">
      <img class="face-img" src="assets/sojinprofile.gif">
      <img class="face-img" src="assets/sunpilprofile.gif">
    </div>
    <div class="white-text-r" id="profile">
      디자인조형학부 김소진<br>
      컴퓨터학과 황선필<br>
    </div>
  </div>

  <br>

  <div class="blue-line"></div>
  <div class="content-text">
    <div class="blue-text-l">
    </div>
    <div class="white-text-r" id="profile">
      문의: sunpil13@korea.ac.kr
    </div>
  </div>

  <img class="back-btn" (click)="onClick_back()" src="assets/back.png"/>

  </div>
</div>
