.infomation-backgroud{
  width: 100vw;
  height: 100vh;
  background: #11162F;
}

.information-container{
  padding: 7%;
}

.title{
  margin-top: 10%;
  font-size: 24px;
  color: #ffffff;
}

.white-line{
  margin-top: 13px;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  background: #ffffff;
}

.blue-line{
  margin-top: 13px;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  background: #3267F6;
}

.blue-text{
  color: #3267F6;
}

.white-text{
  font-size: 16px;
  color: #ffffff;
}

.content-text{
  width: 100%;
  height: 25px;
}

#big-div{
  height: 65px;
}

.blue-text-l{
  font-size: 16px;
  display: inline-block;
  color: #3267F6;
  float: left;
}

.white-text-r{
  font-size: 16px;
  text-align: right;
  display: inline-block;
  color: #ffffff;
  float: right;
}

#perpose{
  width: 60%;
}

#profile{
  font-size: 13px;
  text-align: right;
  margin-bottom: 10px;
  width: auto;
  color: #3267F6;
}

.face-img{
  width: 45px;
  height: auto;
}


.back-btn{
  display: inline-block;
  position: fixed;
  width: 92%;
  bottom: 0px;
  left: 50%;
  margin-left: -46%;
  margin-bottom: 40px;
}
