/* You can add global styles to this file, and also import other style files */
html,body {
  width: 100%;
  height:100%;
  margin:0;
  padding:0;
  /*background: #11162F;*/
}

.pcImg{
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
}

.container{
  overflow: hidden;
}

@media screen and (min-width: 500px){
  .container {
    visibility: hidden;
  }

  .pcImg{
    visibility: visible;
  }
}







@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}

.normal {
 font-style: normal;
}

.w250 {
 font-weight: 250;
}

.w300 {
 font-weight: 300;
}

.w350 {
 font-weight: 350;
}

.w400 {
 font-weight: 400;
}

.w500 {
 font-weight: 500;
}

.w700 {
 font-weight: 700;
}

.w800 {
 font-weight: 800;
}

.w900 {
 font-weight: 900;
}

li span {
 line-height: 1.8;
 font-size: 1.3em;
}





/* MODAL STYLES
-------------------------------*/
modal {
  /* modals are hidden by default */
  display: none;

  /* modal container fixed across whole screen */
  /*background: #ffffff;*/
  width: 80vw;
  height: 280px;

  position: fixed;
  top: 20vh;
  right: 0;
  bottom: 0;
  left: 50%;
  margin-left: -40vw;

  /* z-index must be higher than .modal-background */
  z-index: 1000;
}

modal .modal-title{
  font-size: 14px;
  font-weight: 500;
  padding: 15px 15px 0px 15px;
  /*background: #ffffff;*/
}

/*캐릭터얼굴*/
modal .modal-faceImg{
  position: absolute;
  display: inline-block;
  z-index: 1010;
  width: 200px;
  position:absolute; left:50%;
  transform:translateX(-50%);
  top: -90px;
}

modal .modal-body{
  position:absolute;
  left: 50%;
  transform:translateX(-50%);
  font-size: 13px;
  padding: 18px;
  width: 280px;
  height: 280px;
  background: #ffffff;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  box-sizing: border-box;
}

#nickname-modal-body{
  height: 170px;
}

/*노래제목*/
modal .modal-songtitle{
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 15px;
}

/*텍스트이미지*/
modal .modal-textImg{
  display: inline-block;
  width: 240px;
}

/*점수*/
modal .modal-score{
  margin-top: 10px;
  font-size: 60px;
  font-weight: 900;
}

/*다음으로 가기 버튼*/
modal .modal-btn{
  width: 180px;
}

modal .modal-item{
  position: fixed;
  bottom: 20px;
  width: 80%;
  left: 50%;
  transform:translateX(-50%);
}

modal .modal-background{
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.7;
}

modal .modal-icon{
  width: 70%;
}



body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}






/*닉네임*/
modal .modal-button{
  border: none;
  outline: none;
  padding: 7px;
  font-size: 18px;
  margin-top: 100px;
  margin-right: 10px;
  box-sizing: border-box;
  background: none;
  color: #02101b;
  display: inline-block;
  float:right;
}

.nickInfo{
  position: absolute;
  color: darkred;
  bottom: 40px;
  left: 65px;
  text-align: center;

}

/*게임오버*/
modal .modal-gameoverImg{
  display: inline-block;
  width: 80%;
  margin-bottom: 30px;
}

modal .modal-myrank{
  position: absolute;
  text-align: center;
  width: 280px;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
}

modal #rank-text{
  color: #c6c6c6;
  font-size: 12px;
}

modal #rank{
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 800;
}

modal .line{
  width: 100%;
  height: 1px;
  background: #c6c6c6;
}

modal .resultImg{
  margin-top: 5px;
  width: 120px;
  margin-bottom: 5px;
}

modal #score{
  height: 30px;
  font-size: 30px;
}

modal .tg-cpu1{
  width: 130px;
}

modal .tg-cpu2{
  width: 120px;
  text-align: right;
  font-size: 20px;
  color: #909090;
  font-weight: 800;
}

modal .score-table{
  margin-top: 5px;
}



modal .modal-reply{
  position: fixed;
  width: 80%;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

}






/*인포모달*/
modal .info{
  position: absolute;
  z-index: 25;
  display: inline-block;
  width: 280px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
