<div class="ranking-background">
<div class="ranking-container">

    <div class="title">전체랭킹</div>
    <div class="sub-title">상품은 6월 18일 밤12시 순위 기준</div>

    <div *ngFor="let user of userList; let idx=index">

    <!-- 선 -->
    <div *ngIf="idx<3" class="line" style="background: #30a75f;"></div>
    <div *ngIf="3<=idx&&idx<7" class="line" style="background: #4bc6ff;"></div>
    <div *ngIf="7<=idx" class="line" style="background: #ffffff;"></div>

    <div class="content-text">


      <table class="ranking-table">
        <tr>

          <!-- 순위 -->
          <td *ngIf="idx<3" class="ranking-td1" style="color: #30a75f;">{{idx+1}}위</td>
          <td *ngIf="3<=idx && idx<7" class="ranking-td1" style="color: #4bc6ff;">{{idx+1}}위</td>
          <td *ngIf="7<=idx" class="ranking-td1" style="color: #ffffff;">{{idx+1}}위</td>

          <!-- 이름 -->
          <td class="ranking-td2">{{user.nickname}}</td>

          <!-- 점수 -->
          <td *ngIf="idx<3" class="ranking-td3" style="color: #30a75f;">{{user.score}}</td>
          <td *ngIf="3<=idx && idx<7" class="ranking-td3" style="color: #4bc6ff;">{{user.score}}</td>
          <td *ngIf="7<=idx" class="ranking-td3" style="color: #ffffff;">{{user.score}}</td>

          <!-- 뱃지 -->
          <td class="ranking-td4">
            <img  *ngIf="idx<3" class="badge" src="assets/starbucksbadge.png"/>
            <img *ngIf="3<=idx && idx<7" class="badge" src="assets/maeilbadge.png"/>
          </td>

        </tr>
      </table>
    </div>

    <img *ngIf="idx==2" class="gift-line" src="assets/starbucksboundary.png"/>
    <img *ngIf="idx==6" class="gift-line" src="assets/maeilboundary.png"/>

    </div>





</div>
</div>
  <img class="back-btn" (click)="onClick_back()" src="assets/back.png"/>
